:root {
  --especial-blue: #2196F3;

  --background-black: #2F303A;
  --background-gray: #F5F4FA;

  --font-bold-color: #212121;
  --font-usual-color: #757575;
  --font-active-button-color: #FFFFFF;
}

.logo > span {
  color: var(--especial-blue);
}

.selectable-link:hover,
.selectable-link:focus {
  color: var(--especial-blue);
}

.selectable-button,
.selectable-button {
  color: var(--font-bold-color);
  background-color: var(--background-gray);
}

.selectable-button:hover,
.selectable-button:focus {
  color: var(--font-active-button-color);
  background-color: var(--especial-blue);
}